* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 193, 90);
    padding: 10px;
    color: whitesmoke;

}

.menu-item {
    display: flex;
}

.menu-item li {
    list-style: none;
    margin: 7px;
    padding: 20;
    font-size: 15px;
}

.menu-item li:hover {
    color: aqua;
    cursor: pointer;

}


body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url(images/donation13.jpg);
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-container {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.banner-description h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
}

.banner-description p {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    background-color: rgb(249, 193, 90);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: rgb(249, 193, 90);
    font-weight: 700;

}

a {
    text-decoration: none;
    color: white
}

.butt {
    padding: 10px 170px;
    margin: 15px;
}

.butt-deco {
    padding: 20px 5px;
    margin: auto;
}

.donate {
    padding: 100px 160px;
}

.donate h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
}

.donate p {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px 15px;
    margin: 5px;
}

.Donate-description {
    padding: 2px;
    margin: 10px;
}

.money-amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-amount li {
    list-style: none;
    margin: 50px;
    padding: 50;
    font-size: 30px;
    font-weight: 700;
    color: rgb(130, 129, 129);
}

.fix {
    background: rgb(253, 234, 198);
    border: 20px;
    border-radius: 15px;
    padding: 50px 50px;
    margin: 5px;
    border-color: aquamarine;
}

.Other-amount {
    color: rgb(167, 167, 167);
}

.line {
    width: 1200px;
    height: 2px;
    background-color: rgb(167, 167, 167);
}

.butt2 {
    padding: 10px 530px;
    margin: 5px;
}

button {
    background-color: rgb(249, 193, 90);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;

}

a {
    text-decoration: none;
}

.donate-plan {
    padding: 100px 160px;
}

.donate-plan {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding: 30px 100px;
}

.para {
    justify-content: center;
    align-items: center;
}

.para p {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px 50ppx;
}


.cards {
    padding: 60px;
    margin-left: 70px;
    justify-content: center;
    display: flex;
    margin: 10px;


}

.card-description {
    padding: 40px 20px;
}

.food {
    margin: 30px;
    width: 400px;
    height: 300px;
    background-color: rgb(234, 234, 234);

}

.shelter {
    margin: 30px;
    width: 400px;
    height: 300px;
    background-color: rgb(254, 242, 242);

}

.education {
    margin: 30px;
    width: 400px;
    height: 300px;
    background-color: rgb(254, 251, 236);

}